* {
    box-sizing: border-box;
}

html {
    font-family: Alegreya;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    background-color: #f3f1e9;
}

body {
    margin: 0;
    padding: 0;
}

ul,ol {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: #fff;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 1rem;
}

.main-section {
    height: 100vh;
    background-image: url('../assets/images/banner.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.page-content {
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    position: relative;
}

