.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.navbar__btn-toggle {
    display: none;
}

.nav {
    display: flex;
    justify-content: space-between;
}
.nav__item {
    display: flex;
    align-items: center;
    text-transform: uppercase;
}
.nav__link {
    padding: 0.5rem 1rem;
    transition: color 0.5s;
}

.nav__link:hover {
    color: #9f9fa1
}

.nav__link_btn:hover {
    color: #FFF;
}




